#Basic conf openvpn
dev tun
proto udp
port {{ openvpn_port }}
keepalive 10 120
max-clients {{ openvpn_max_clients_on_server }}
persist-key
persist-tun

#Set easy-rsa stuff for openvpn
ca {{ openvpn_config_server_path }}/ca.crt
cert {{ openvpn_config_server_path }}/{{ openvpn_server_crt}}
key {{ openvpn_config_server_path }}/{{ openvpn_server_key }}
dh {{ openvpn_config_server_path }}/dh.pem
tls-crypt {{ openvpn_config_server_path }}/ta.key

#Parmeters for better security
cipher AES-256-CBC
auth SHA512
tls-version-min 1.2
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-256-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-256-CBC-SHA:TLS-DHE-RSA-WITH-AES-128-CBC-SHA:TLS-DHE-RSA-WITH-CAMELLIA-128-CBC-SHA

#Enabling compression for best performance
compress lz4-v2
push "compress lz4-v2"

#Virtual subnet created by OpenVPN
#The server wiil receive 10.8.0.1
server {{ openvpn_server_subnet }} 255.255.255.0

#Use server as the default gateway for our clients (In fact by default it's only the openVPN traffic not web for exemple)
push "redirect-gateway def1 bypass-dhcp"

#Because now the openvpn is the default gateway for our clients we need to use the local DNS of the server
push "dhcp-option DNS {{ openvpn_first_dns }}"
push "dhcp-option DNS {{ openvpn_second_dns }}"

#Log and verosity
verb 4
log-append /var/log/openvpn.log
