# Easy-RSA 3 parameter settings
set_var EASYRSA_REQ_CN "{{ key_cn }}"
set_var EASYRSA_REQ_COUNTRY	"{{ key_country }}"
set_var EASYRSA_REQ_PROVINCE	"{{ key_province }}"
set_var EASYRSA_REQ_CITY	"{{ key_city }}"
set_var EASYRSA_REQ_ORG	"{{ key_organisation }}"
set_var EASYRSA_REQ_EMAIL	"{{ key_mail }}"
set_var EASYRSA_REQ_OU		"{{ key_ou }}"
set_var EASYRSA_KEY_SIZE	"{{ key_size }}"

#PKI DIR
set_var EASYRSA_PKI "{{ lookup('env', 'HOME') }}/pki"

#DON'T EDIT THIS PARAMETER
#THROUGH THIS PARAMETER WE CAN AUTOMATIZE BUILD-CA PART
set_var EASYRSA_BATCH "1"
